<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/flexslider/flexslider.css">
    <link rel="stylesheet" href="/css/style2.css">
    <title>Golden Weather Planning Document Home</title>
</head>
<body>
    <div id="all-content">
        <header>
            <section class="header-section">
                <img src="/img/weather-icon.png" alt="Golden Weather Icon" class="header-icon">
                <h1>Golden Weather Services</h1>
                <h3 id="page">Home</h3>
            </section>
            <!-- <nav class="main-nav">
                <ul>
                    <li><a href=#>Home</a></li>
                    <li><a href="html/target-audience.html">Target Audience</a></li>
                    <li><a href="html/color-scheme.html">Color Scheme</a></li>
                    <li><a href="html/typography.html">Typography</a></li>
                </ul>
            </nav> -->
        </header>
        <main>
            <section>
                <form action="/" method="post" class="searchbar">
                    <label for="city">City: </label>
                    <input type="text" name="city" id="city">
                    <label for="state" class="hidden" id="state-label">State: </label>
                    <select class="hidden" name="state" id="state">
                      <option value="state1">state1</option>
                    </select>
                    <label for="country">Country: </label>
                    <select name="country" id="country">
                      <% for(var i=0; i<countries.length; i++) {%>
                         <option value="<%= countries[i] %>" ><%= countries[i] %></option>
                      <% } %>
                      </select>
                </form>
            </section>
                <% if(city !== null){ %>
                    <section class="weather-card" id="outer-card">
                    <section class="weather-card main-weather">
                        <h2><%= city %></h2>
                        <img class="weather-icon" src="<%= icon %>" >
                        <h3><%= temp %>&deg;<sup>F</sup> | <%= status %></h3>
                    </section>
                    <section class="weather-card main-weather">
                        <h3>Details</h3>
                        <p class="capitalize"><%= desc %></p>
                        <p>Temp: <%= temp %>&deg;<sup>F</sup> | Feels Like: <%= feelsLike %>&deg;<sup>F</sup></p>
                        <p>Humidity: <%= humidity %>%</p>
                        <p>Wind Speed: <%= wind %> </p>
                    </section>
                    </section>
                  <% } %>
                  <% if(error !== null){ %>
                    <section class="weather-card"><p><%= error %></p></section>
                  <% } %>
                  <% if(error == null && city == null){ %>
                    <section class="weather-card">
                      <h3 class="weather-top">Weather, anytime, anywhere</h3>
                        <div class="flexslider">
                            <ul class="slides">
                              <li>
                                <img src="/img/sunny.svg" />
                              </li>
                              <li>
                                <img src="/img/cloudy.svg" />
                              </li>
                              <li>
                                <img src="/img/rainy.svg" />
                              </li>
                              <li>
                                <img src="/img/partly_cloudy.svg" />
                              </li>
                            </ul>
                          </div>
                          <p>Receive free and real-time weather data</p>
                    </section>
                  <% } %>
            <footer class="weather-card">
              <p>This service is made possible by <a class="intext-link" href="https://openweathermap.org/" target="_blank">OpenWeatherMap API</a>. Visit their site to learn more about the weather data provided by this service.</p>
              <p>Technologies used in this website include Node.JS and ExpressJS.</p>
              <p>This site was created by Sasha Cheek.</p> 
            </footer>
        </main>
    </div>
	<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
	<script type="text/javascript" src="/flexslider/jquery.flexslider-min.js"></script>
    <script src="/js/script.js"></script>
</body>
</html>